body {
  margin:0px;
  padding:0px;
  font-family: 'Open Sans', sans-serif;
}

#content {
  top: -1px;
  position: absolute;
}

/*Flex*/
.horisontalFlex {
  display:flex;
  justify-content:space-around;
}

.verticalFlex {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

/*Sound*/
.playButton {
  width:7vw;
  margin-bottom:20px;
}

.playWrapper {
  text-align:center;
}

/*Text*/


h1 {
  color: #573F3D;
  text-align: center;
  font-size: 5vw;
  margin-bottom: 0px;
}

h2 {
  font-size: 3vw;
  margin:0px;
  font-weight:lighter;
}

.tFatWhite {
  color: white;
  font-size: 2.5vh;
  line-height: 2.5vh;
  font-weight: bold;
}

.tSlimWhite {
  color: white;
  font-size: 2.5vh;
  line-height: 2.5vh;
}

.tSlimBlack {
  color: black;
  font-size: 2.5vh;
  line-height: 2.5vh;
}

.tFatBlack {
  color: black;
  font-size: 2.5vh;
  line-height: 2.5vh;
  font-weight: bold;
}

.tSubWhite {
  color: white;
  font-size: 2.5vh;
  line-height: 2.5vh;
  font-weight: bold;
}

.tSubBlack {
  color: black;
  font-size: 2.5vh;
  line-height: 2.5vh;
  font-weight: bold;
}

/*Positioning*/
.smallIndent{
    margin-top: 10vh;
}

.bigIndent{
  margin-top: 50vh;
  margin-bottom:30vh;
}

.margins {
  margin-left: 30.9vw;
  margin-right: 30.9vw;
}

.fit {
  display:block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.centeredImage {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/*Background images*/
.background-image {
  position: sticky;
  display: block;
  top: -1px;
  margin:0px;
  margin-top:-100vh;
  width:100vw;
  height:100vh;
  object-fit: cover;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin:-20px;
}


/*Progress Bar*/
#sBack, #sFill {
  position:sticky;
  left:0;
  right:0;
  top:0;
  margin:0;
}

#sBack {
  background-color:gray;
  width:100%;
  z-index: 1;
}

#sFill {
  background-color:orange;
  width:0px;
  z-index: 2;
}

/*phones*/
@media only screen and (max-width: 768px) {
  .smallIndent{
      color: #573F3D;
      margin-top: 10vw;
      font-size: 2vw;
      line-height: 2.5vw;
  }

  .bigIndent{
    color: #573F3D;
    margin-top: 50vw;
    margin-bottom:30vw;
    font-size: 3vw;
    line-height: 2.5vw;
  }

  .margins {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
