body {
  margin:0px;
  padding:0px;
  font-family: 'Open Sans', sans-serif;
}

#content {
  top: -1px;
  position: absolute;
}

/*Pages*/
#page1 {
  padding:0px;
  position: absolute;
  height:100vh;
  top:0;
}

#page2 {
  padding:0px;
  position: absolute;
  top:100vh;
}

/*Text*/
.overskriftContainer {
  width: 80vw;
  padding-left: 10vw;
  padding-top: 5vmin;
  padding-bottom: 4.5vmin;
}

.textContainer {
  width: 50vw;
  padding-left: 25vw;
  padding-top: 8vmin;
}

h1 {
  color: #573F3D;
  text-align: center;
  font-size: 5vw;
  margin-bottom: 0px;
}

h2 {
  font-size: 3vw;
  margin:0px;
  font-weight:lighter;
}

.tFatWhite {
  color: white;
  font-size: 2.5vmin;
  line-height: 2.5vmin;
  font-weight: bold;
}

.tSlimWhite {
  color: white;
  font-size: 2.5vmin;
  line-height: 2.5vmin;
}

.tSlimBlack {
  color: black;
  font-size: 2.5vmin;
  line-height: 3.5vmin;
}

.tFatBlack {
  color: black;
  font-size: 2.5vmin;
  line-height: 3.5vmin;
  font-weight: bold;
}

.tSubWhite {
  color: white;
  font-size: 2.5vmin;
  line-height: 2.5vmin;
  font-weight: bold;
}

.tSubBlack {
  color: black;
  font-size: 2.5vmin;
  line-height: 2.5vmin;
  font-weight: bold;
}

.tFactText {
  color: black;
  font-size: 1vmin;
  line-height: 1.5vmin;
}

.tCenteredText {
  text-align: center;
}

.tSpaceAround {
  padding-top: 8vmin;
    padding-bottom: 7vmin;
}

/*Header*/
.headerContainer {
  position: absolute;
  width: 100vw;
  height: 102vh;
}

.headerText {
  position: absolute;
  top: -20vmin;
  left: 0;

  object-fit: scale-down;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.headerBG {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  width: 100%;
  height: 100%;
}

.headerNext {
  position: absolute;
  display:block;
  top: 75vh;

  z-index: 2
}

.headerfiller {
  width: 100vw;
  height: 100vh;
}

/* Intro */
.introContainer {
  position: absolute;
  width: 100vw;
  height: 100vmin;
  padding-top: 7vmin;
}

.introBG {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.introTextContainer {
  width: 70vw;
  padding-left: 15vw;
}

.introFlex {
  display: flex;
  justify-content: space-around;
  width:60vw;
  margin-left: -10vmin;
}

.introFlexLeft {
  flex: 3 1 0;
  padding-right: 5vmin;
}

.introFlexRight {
  flex: 1 1 0;
  vertical-align: middle;
  background-color:#E5CDC0;
  padding: 1.5vmin;
  height:22vh;
  margin-top: 10vmin;
}

@media only screen and (max-width: 1821px) {
  .introFlexRight {
    display:none;
  }
}

.introFill {
  padding-top: 97vmin;
}



/* ta Sektion */
.taContainer {
    width: 100vw;
    background-color: #EDE4DF;
    padding-top: 10vmin;
    padding-bottom: 8vmin;
}


.taOverskrift {
  object-fit: contain;
  width: 100%;
}



/* Gasmask Section */
.gasMaskContainer {
  width: 100vw;
  padding-top: 10vmin;
  padding-bottom: 15vmin;
}

.gasMaskeTekstContainer {
  width: 40vw;
  padding-left: 30vw;
  padding-top: 10vmin;
  padding-bottom: 4vmin;
}

/* Dominerende Section*/
.dominerendeContainer {
  background-color: #EDE4DF;
  width:100vw;
  padding-top: 10vmin;
  padding-bottom: 8vmin;
}

/* Orgasme Section*/
.orgasmeContainer {
  width:100vw;
  padding-top: 13vmin;
  padding-bottom: 15vmin;
}

/* Fyraften Section */
.fyraftenContainer {
  background-color: #EDE4DF;
  width:100vw;
  padding: 0px;
  padding-top: 10vmin;
  padding-bottom: 8vmin;
}

.fyraftenOverskriftContainer {
  width: 40vw;
  padding-left: 30vw;
  padding-top: 5vmin;
  padding-bottom: 4.5vmin;
}

/* End Section */
.endContainer {
  background-color: #FCF8F5;
  width:100vw;
  padding-top: 2vmin;
  padding-bottom: 8vmin;
}

footer {
  background-color: #DFCEC4;
  width:100vw;
  padding-bottom: 6vmin;
}

.footerOverskriftContainer {
  width: 20vw;
  padding-left: 40vw;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

/*Flex*/
.horisontalFlex {
  display:flex;
  justify-content:space-around;
  width: 100%;
}

.verticalFlex {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

/*Sound*/
.playButton {
  width:7vw;
  margin-bottom:20px;
  z-index = 10;
  user-select: none;
}

.playWrapper {
  padding-top:7vmin;
  text-align:center;
}



/*Positioning*/
.smallIndent{
    margin-top: 10vh;
}

.bigIndent{
  margin-top: 50vh;
  margin-bottom:30vh;
}

.margins {
  margin-left: 30.9vw;
  margin-right: 30.9vw;
}

.contain {
    display:block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.fit {
  display:block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.centeredImage {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/*Background images*/
.background-image {
  position: sticky;
  display: block;
  top: -1px;
  margin:0px;
  margin-top:-100vh;
  width:100vw;
  height:100vh;
  object-fit: cover;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin:-20px;
}


/*Progress Bar*/
#sBack, #sFill {
  position:sticky;
  left:0;
  right:0;
  top:0;
  margin:0;
}

#sBack {
  background-color:gray;
  width:100%;
  z-index: 1;
}

#sFill {
  background-color:orange;
  width:0px;
  z-index: 2;
}

/*phones*/
@media only screen and (max-width: 768px) {
  .smallIndent{
      color: #573F3D;
      margin-top: 10vw;
      font-size: 2vw;
      line-height: 2.5vw;
  }

  .bigIndent{
    color: #573F3D;
    margin-top: 50vw;
    margin-bottom:30vw;
    font-size: 3vw;
    line-height: 2.5vw;
  }

  .margins {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
